<footer class="footer bg-dark py-3 mt-auto w-100">
  <div class="container">
    <span class="text-muted"
      >&copy;YelpCamp 2020. All Rights Reserved by
      <a class="text-muted" href="https://bineetnaidu-io.web.app">Bineet</a></span
    >
    <span class="float-right">
      <a
        href="https://github.com/bineetNaidu/YelpCamp/issues"
        class="text-muted"
        >#Report bug or Request Feature</a
      >
    </span>
  </div>
</footer>
