<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campgrounds</a>
      </div>
      <div class="navbar-nav ml-auto">
        <form class="d-flex">
          <input
            class="form-control form-control-sm mr-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="camp"
          />
          <button class="btn btn-outline-success" hidden type="submit">
            Search
          </button>
        </form>
        <% if (currentUser) { %>
        <li class="nav-item dropdown dropleft">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">@<%= currentUser.username %></a>
            </li>
            <li>
              <a class="dropdown-item" href="/user/<%= currentUser._id %> "
                >Profile</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <a class="nav-link" href="/auth/login">Login</a>
        <a class="nav-link" href="/auth/register">Sign up</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
