<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-6 offset-3 text-center">
    <h5>YelpCamp connects people with great Campgrounds.</h5>
    <p>
      Our users have contributed over 200 million reviews(demo purposes) of
      almost every type of local camp, from restaurants, boutiques and salons to
      dentists, mechanics, plumbers and more. Our business revolves around the
      connections made between the consumers who read and write reviews and the
      local businesses that they describe.
    </p>
    <hr />
    <h5>Any Bugs or Request Features</h5>
    <p>
      Head over to this
      <a href="https://github.com/bineetNaidu/YelpCamp/issues">Link</a>
      create a issue or request a feature with proper description about the
      issue or feature.
    </p>
    <p>If you are request for bug please provide us with a screenshot.</p>
    <hr />
    <h5>You're in good company</h5>
    <p>
      We're a diverse team of problem solvers and innovators. ​​​​​​​Our work
      fuels consumers, businesses, and our teams.
    </p>
    <hr />
    <h5>License</h5>
    <p>MIT</p>
    <hr />
    <h5>****** OfCourse this is frictional Company *******</h5>
  </div>
</div>
